{% extends 'base.html.twig' %}

{% block title %}Accueil / BlogTech
{% endblock %}

{% block body %}
	<h1 class="mb-4">Derniers articles</h1>

	{% for article in articles %}
		{% include 'components/_carte_article.html.twig' with { article: article } %}
	{% else %}
		<p>Aucun article publié pour le moment.</p>
	{% endfor %}
{% endblock %}
